.area {
	flex-direction: column;
	height: 100%;
	border: 3px dotted purple;
}

.message_box {
	flex-grow: 1;
	background-color: lightcoral;
	justify-content: flex-end;
	overflow-y: auto;
}

.message_input {
	flex-basis: 150px;
	align-items: center;
	justify-content: center;
}

.divMsg {
	align-items: flex-end;
	flex-direction: column;
	gap: 20px;
	border: 1px solid black;
	width: 100%;
}

.divMsgContent {
	border: 1px dotted black;
	width: 100%;
	display: flex;	
	flex-direction: column;
	align-items: flex-end;
}

.divMsgContent p {
	overflow-wrap: break-word;
	border: 3px solid black;
	background-color: white;
	border-radius: 16px;
	padding: 5px 15px;
	font-size: 20px;
	line-height: 1.5;
	text-align: right;
	max-width: 500px;
}

.left {
	align-self: flex-start;
}